@using ChampionsLeagueTickets.ViewModels
@model StadiumVM;

@if (@Model.SectionVMs.Count() == 0) {
    <p>This stadium has no sections for which you can buy seats! </p>
}
else {
    <p>Select a section for which you wish to buy a season ticket:</p>
    <table class="table">
        <thead>
            <tr>
                <th>Section</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.SectionVMs) {
                <tr>
                    <td>@item.SectionName</td>
                    <td>
                        <form method="post" asp-action="AddToCart" asp-controller="SeasonTickets" style="display: inline;">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="sectionId" value="@item.Id" />
                            <button type="submit" class="btn btn-primary">Add to shoppingcart</button>
                        </form>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}