@using ChampionsLeagueTickets.Domain.Entities;
@using ChampionsLeagueTickets.ViewModels;
@model IEnumerable<StadiumVM>;

@{
    ViewData["Title"] = "Season Tickets";
}

@if (TempData["Error"] != null) {
    <div class="alert alert-danger">@TempData["Error"]</div>
}

<h1>Season Tickets</h1>

<form id="ClubSelect" asp-action="IndexWithFilter" asp-controller="SeasonTickets" method="get"
      data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#SeasonTicketsInfo">
    <label for="clubName">Select your Club</label>
    <select id="clubName" name="clubName">
        <option value="All" selected disabled>No filter</option>
        @{
            foreach (Club club in ViewBag.Clubs) {
                <option value=@club.Name>@club.Name</option>
            }
        }
    </select>
</form>

<hr />

<div id="SeasonTicketsInfo">
    @if (TempData["Error"] != null) {
        <div class="alert alert-danger">@TempData["Error"]</div>
    }

    @if (TempData["Success"] != null) {
        <div class="alert alert-success">@TempData["Success"]</div>
    }
    <div>Select a team to buy a Season Ticket.</div>
</div>

@section Scripts {
    <script>
        $(function () {
            $("#ClubSelect").on("change", function() {
                $(this).closest("form").trigger("submit");
            });
        });
    </script>
}