@{
    ViewData["Title"] = "Champions League Tickets - Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a website made for the course "Full Stack Development" at Vives Kortrijk for the year 2026.</p>
    <p>This website is made by Niels Feys.</p>
    <p>Please use the navigation menu to check match schedules, check stadium capacity and buy season tickets.</p>
    <p>For normal tickets, please use the calendar to search for your desired match.</p>
</div>
