@using ChampionsLeagueTickets.Domain.Entities;
@using ChampionsLeagueTickets.ViewModels;
@model IEnumerable<MatchVM>;

@{
    ViewData["Title"] = "Index";
}

<h1>Calendar by team</h1>

<form id="ClubSelect" asp-action="IndexWithFilter" asp-controller="Calendar" method="get"
    data-ajax="true" data-ajax-method="get" data-ajax-mode="replace" data-ajax-update="#MatchTableDiv">
    <label for="clubName">Select your Club</label>
    <select id="clubName" name="clubName">
        <option value="All" selected>No filter</option>
        @{
            foreach (Club club in ViewBag.Clubs) {
                <option value=@club.Name>@club.Name</option>
            }
        }
    </select>
</form>

<hr />

<div id="MatchTableDiv">
    <partial name="_TeamMatchDetails" model="Model" />
</div>

@section Scripts{
    <script>
        $(function () {
            $("#ClubSelect").on("change", function() {
                $(this).closest("form").trigger("submit");
            });
        });
    </script>
}


