@using ChampionsLeagueTickets.ViewModels;
@model ShoppingCartVM;

@{
    ViewData["Title"] = "Shopping Cart";
}

<h1>Shopping Cart</h1>

@foreach(var item in Model.Tickets) {
    <p>@item.SectionId</p>
}